In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2010~2014

In [19]:
def get_ymd(df, index):
    ser=df.iloc[index]
    return ser["年"],ser["月"], ser["日"]

list_2010_2014=[]
for iyy in range(2010,2014+1,1):
    print(iyy)
    df=pd.read_excel(f"../DATA/{iyy}_tyubu/花粉データ{iyy}(中部).xls",skiprows=1)
    y,m,d=get_ymd(df, 0)
    begin=pd.to_datetime(f"{y}-{m}-{d} 01:00")
    y,m,d=get_ymd(df,-1)
    end=pd.to_datetime(f"{y}-{m}-{d} 00:00")+pd.offsets.Hour(24)
    print(begin, end)
    df["date_time"]=pd.date_range(begin, end , freq="H")
    list_2010_2014.append(df)

2010
2010-02-01 01:00:00 2010-06-01 00:00:00
2011
2011-02-01 01:00:00 2011-06-01 00:00:00
2012
2012-02-01 01:00:00 2012-07-01 00:00:00
2013
2013-02-01 01:00:00 2013-07-01 00:00:00
2014
2014-02-01 01:00:00 2014-07-01 00:00:00

In [36]:
df2010_2014=pd.concat(list_2010_2014)
df2010_2014.to_csv("../INPUT/pollne_2010_2014.csv.gz", compression="gzip", index=None)

In [30]:
df2010_2014["名古屋"].max()

21180.0

## 2015~2022

In [25]:
def get_ymd(df, index):
    ser=df.iloc[index]
    return ser["年"],ser["月"], ser["日"]

list_2015_2020=[]
for iyy in range(2015,2020+1,1):
    print(iyy)
    df=pd.read_excel(f"../DATA/{iyy}_tyubu/花粉データ{iyy}(中部).xlsx",skiprows=1)
    y,m,d=get_ymd(df, 0)
    begin=pd.to_datetime(f"{y}-{m}-{d} 01:00")
    y,m,d=get_ymd(df,-1)
    end=pd.to_datetime(f"{y}-{m}-{d} 00:00")+pd.offsets.Hour(24)
    print(begin, end)
    df["date_time"]=pd.date_range(begin, end , freq="H")
    list_2015_2020.append(df)

2015
2015-02-01 01:00:00 2015-07-01 00:00:00
2016
2016-02-01 01:00:00 2016-07-01 00:00:00
2017
2017-02-01 01:00:00 2017-07-01 00:00:00
2018
2018-02-01 01:00:00 2018-07-01 00:00:00
2019
2019-02-01 01:00:00 2019-07-01 00:00:00
2020
2020-02-01 01:00:00 2020-07-01 00:00:00

In [26]:
df2015_2022=pd.concat(list_2015_2020)
df2015_2022["愛知県環境調査センター"]

,年,月,日,時,新潟県保健環境科学研究所,長岡環境センター,上越環境センター,富山県庁舎,富山県農林水産総合技術センター森林研究所,金沢大学医学部附属病院,...,date_time,三重県庁,富山県魚津総合庁舎,石川県能登中部保健福祉センター,二州健康福祉センター,山梨県身延合同庁舎本館,伊東市役所,静岡県東部総合庁舎（沼津財務事務所）,山梨県衛生環境研究所,静岡県庁本庁舎屋上
0,2015,2,1,1,20.0,28.0,-9998.0,24.0,-9998.0,57.0,...,2015-02-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,2,1,2,-9998.0,-9998.0,0.0,-9998.0,-9998.0,57.0,...,2015-02-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,2,1,3,-9998.0,-9998.0,36.0,8.0,0.0,4.0,...,2015-02-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,2,1,4,0.0,53.0,-9998.0,0.0,-9998.0,8.0,...,2015-02-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,2,1,5,4.0,-9998.0,106.0,0.0,0.0,32.0,...,2015-02-01 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3619,2020,6,30,20,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-06-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3620,2020,6,30,21,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-06-30 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3621,2020,6,30,22,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-06-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3622,2020,6,30,23,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-06-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3623,2020,6,30,24,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df2015_2022.to_csv("../INPUT/pollne_2015_2022.csv.gz", index=None, compression="gzip")

In [32]:
df2010_2014[df2010_2014["名古屋"]>=5000]

,年,月,日,時,新潟,長岡,上越,富山,立山,金沢,...,浜北,伊豆,名古屋,設楽,四日市,白山,Unnamed: 27,Unnamed: 28,date_time,新城
2514,2014,5,16,19,8.0,0.0,8.0,12.0,4.0,0.0,...,24.0,24.0,21180.0,NaN,8.0,12.0,NaN,NaN,2014-05-16 19:00:00,20.0

In [64]:
def get_data(date):
    year=date.year
    month=date.month
    day=date.day
    columns=["hour","Ps","P0","precip","temp","dew_temp","e_vapor","rh","wind","wind_direction","sunshine_hours","solar_radiation","snow_cover","snow_fall","weather","cloud_cover","visibility"]
    url=f"https://www.data.jma.go.jp/obd/stats/etrn/view/hourly_s1.php?prec_no=51&block_no=47636&year={year}&month={month}&day={day}&view="
    df=pd.read_html(url)[0]
    df.columns=columns
    df["date_time"]=pd.date_range(date, date+pd.offsets.Hour(23), freq="H")
    return df

In [66]:
from IPython.display import clear_output

In [68]:
for iyy in range(2010, 2021):
    print(iyy)
    df_list=[]
    for date in pd.date_range(f"{iyy}-01-01 01:00",f"{iyy}-06-30 01:00", freq="D"):
        print(date)
        df=get_data(date)
        df_list.append(df)
    dfall=pd.concat(df_list)
    dfall.to_csv(f"../INPUT/situ_obs_hourly_nagoya_{iyy}.csv",index=None)
    clear_output()
    print(iyy,"end")

2020 end

In [69]:
import glob

In [70]:
dflist=[]
files=sorted(glob.glob("../INPUT/situ_obs_hourly_nagoya_*.csv"))
for f in files:
    dflist.append(pd.read_csv(f))
dfweather=pd.concat(dflist)

In [73]:
dfweather.to_csv("../INPUT/situ_obs_2010_2020.csv.gz", compression="gzip")